[mysql]
default-character-set=utf8
[mysqld]
sql_mode = NO_ENGINE_SUBSTITUTION
user=mysql
basedir=/usr/
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid_file=/var/lib/mysql/mysql.pid
port=3306
log_error=/var/log/mysql/mysqld.log
log_warnings=2
# log_output = FILE
### INNODB OPTIONS
innodb_buffer_pool_size=2G
innodb_flush_log_at_trx_commit=2
innodb_file_per_table=1
innodb_data_file_path = ibdata1:100M:autoextend
## You may want to tune the below depending on number of cores and disk sub
innodb_read_io_threads=2
innodb_write_io_threads=2
innodb_doublewrite=1
innodb_log_file_size=256M
innodb_log_buffer_size=48M
innodb_buffer_pool_instances=2
innodb_log_files_in_group=2
innodb_thread_concurrency=2
# innodb_file_format = barracuda
innodb_flush_method = O_DIRECT
# innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode=2
## avoid statistics update when doing e.g show tables
innodb_stats_on_metadata=0
default_storage_engine=innodb
open-files-limit=331072

# CHARACTER SET
# collation_server = utf8_unicode_ci
init_connect='SET NAMES utf8'
character_set_server = utf8

# OTHER THINGS, BUFFERS ETC
key_buffer_size = 24M
tmp_table_size = 64M
max_heap_table_size = 64M
max_allowed_packet = 512M
sort_buffer_size = 256K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
# myisam_sort_buffer_size = 8M
skip_name_resolve
memlock=0
sysdate_is_now=1
max_connections=400
thread_cache_size=16
query_cache_type = 1
query_cache_size = 64M
query_cache_limit = 2M
table_open_cache=128
lower_case_table_names=1
#
binlog_cache_size=1048900
binlog_stmt_cache_size=1048900
table_definition_cache=256
wait_timeout=93600
connect_timeout=30
net_read_timeout=180
net_write_timeout=360

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
